# # Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

# node_modules
# dist
# dist-ssr
# *.local

# # Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?


# التجاهل لمجلدات الـ Node
node_modules/

# التجاهل لملفات الإعدادات الحساسة
.env
.env.local

# التجاهل لمجلدات الرفع 
Backend/backend/uploads/

# التجاهل لملفات النظام
.DS_Store
dist/
build/