# التجاهل لمجلدات الـ Node
node_modules/

# التجاهل لملفات الإعدادات الحساسة
.env
.env.local

# التجاهل لمجلدات الرفع (اختياري لو مش عايزه صور الاختبار تترفع)
Backend/backend/uploads/

# التجاهل لملفات النظام
.DS_Store
dist/
build/